.formulario-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 60px 0px;
  gap: 26px;
  flex-wrap: wrap;
}

.formulario {
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.2);
  padding: 33px;
}

.formulario h2 {
  color: #212121;
  font-family: "Prata";
  font-size: 32px;
  font-weight: 400;
  margin: 10px 0 16px;
  text-align: start;
}

.formulario h2::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .formulario-container {
    flex-wrap: nowrap;
  }
}
